body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:#fff; 
}
.loadingText {
  text-align: center;
  color: #333;
  font-size: 1rem;
  margin: 1rem;
  font-weight: 400;
}
.container{
  max-width: 768px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}


@media  screen and (max-width:460px){
  .container{
    max-width: 100vw;
    padding: 0 8px ;
    margin-right: auto;
    margin-left: auto;
  }
}
.topText{
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}
h4{
  font-size: 20px;
}
.toogle{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toogleTitle{
  margin: 0 10px;
  color: #000;
  font-weight: 400;
  padding: 5px ;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background-color: #fff;
}
.active{
  color: #fff;
  background-color: #333;
}

.dutyContainer{
  display:flex; 
  flex-direction:row;
  align-items:center; 
}
.icon{
  margin : 0 10px 0 0 ; 
  font-size: 3rem ; 
}
.title{
  font-weight : 500 ; 
}
.jobCompany{
  font-family : monospace;
  font-size:1rem ; 
  font-weight:400;
  background-color:#ddd; 
  display:inline-block ;  
  padding: 5px ; 
  border-radius : 5px ; 


}
.jobDate{
  color: #444 ; 
}
.duty{
  color:#222; 
  font-size: 1rem ; 
}